* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background: #0b2434;
  padding: 35px;
}

.game-container {
  background: #f1f1f1;
  text-align: center;
  width: 410px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 8px;
}

.title {
  font-size: 2.2rem;
  color: #2b283a;
}

.game-details {
  color: #4a4e74;
  font-size: 1.18rem;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.dice {
  background: #fff;
  padding: 23px;
  color: #2b283a;
  font-weight: bold;
  box-shadow: 0 10px 10px -10px #777;
  border-radius: 8px;
  cursor: pointer;
}

.dice:hover {
  background: rgba(190, 190, 190, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.roll-btn {
  background: #5035ff;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 14px 42px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.roll-btn:hover {
  background: #604ce2;
}

/*========== Footer ==========*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.footer-text {
  font-size: 1.5rem;
}

.project-link {
  color: #000;
  font-weight: bold;
}
